.main {
    /* 处理外边距合并问题 */
    overflow: hidden;
    width: 100%;
    background-color: #f5f5f5;
}

.main .middle {
    height: 120px;
    margin-top: 20px;
    background: url(../images/middle.jpg);
    background-position: center;
}

.sell {
    margin-top: 20px;
}

.sell .sell_content {
    height: 50px;
    line-height: 50px;
}

.sell .sell_content h2 {
    float: left;
    font-weight: 400;
    font-size: 22px;
}

.sell .sell_content a {
    float: right;
    font: 16px;
    transition: all .4s;
}

.sell .sell_content a .circle_row {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    background-color: #b0b0b0;
    text-align: center;
    line-height: 16px;
    transition: all .4s;
}

.sell .sell_content a .circle_row i {
    font-size: 12px;
}

.sell .sell_content a:hover {
    color: #ff6700;
}

.sell .sell_content a:hover .circle_row {
    color: #fff;
    background-color: #ff6700;
}

.sell .sell_content .sell_choose li a {
    display: block;
    height: 40px;
    margin: 0 10px;
    font-size: 16px;
    color: #424242;
}

.sell .sell_content .sell_choose li a:hover {
    color: #ff6700;
    border-bottom: 1px solid #ff6700;
}

.sell .sell_main {
    position: relative;
    height: 614px;
}

.sell .sell_main .left {
    float: left;
    display: block;
    width: 220px;
    height: 100%;
    background: url(../images/left.jpg);
    background-size: 100%;
    background-position: center;
    transition: all .4s;
}

.sell .sell_main .left2 {
    background: url(../images/left2.jpg);
    background-size: 100%;
    background-position: center;
}

.sell .sell_main .right {
    float: left;
    width: 980px;
    height: 100px;
    text-align: center;
}

.sell .sell_main .right a {
    display: block;
    float: left;
    width: 235px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: all .4s;
}

.sell .sell_main .right img {
    height: 160px;
    margin: 20px;
}

.sell .sell_main .right h2 {
    font-size: 14px;
    font-weight: 400;
    color: #373737;
}

.sell .sell_main .right p {
    margin-bottom: 15px;
    font-size: 12px;
    color: #b0b7cc;
}

.sell .sell_main .right span {
    font-size: 14px;
    color: #ff6700;
}

.sell .sell_main .right .pre {
    margin-left: 5px;
    font-size: 14px;
    text-decoration: line-through;
    color: #b0b7cc;
}

.sell_main a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transform: translateY(-5px);
}

.sell .sell_main .right_next {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}


/* 纯CSS无法选择不同父盒子的子元素 */
/* choose_watch和right_next位于不同的父盒子中，所以无法实现鼠标经过choose_watch，right_next显现的效果 */
/* .sell .sell_choose .choose_watch:hover .right_next {
    visibility: visible;
} */

.sell .sell_main .right .sell_last a {
    height: 145px;
}

.sell .sell_main .right .sell_last img {
    float: right;
    height: 80px;
    margin: 30px 20px 30px 0;

}

.sell .sell_main .right .sell_last .last_left {
    float: left;
    text-align: left;
    margin-left: 25px;
    margin-top: 50px;
}

.sell .sell_main .right .sell_last .more h2 {
    font-size: 20px
}

.sell .sell_main .right .sell_last .more span {
    color: #373737;
}

.sell .sell_main .right .sell_last i {
    float: right;
    margin: 15px 20px 30px 0;
    font-size: 80px;
    color: #ff6700;
}

/* 底部广告 */
.bottom_ad {
    height: 120px;
    margin: 40px auto;
    background: url(../images/ad.jpg);
    background-position: center;
}